@charset "UTF-8";

h1 {
    color: #78ab46;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

_:-ms-input-placeholder, :root .defaultFont {
    font-family: 'Malgun Gothic';
    font-size: 26px;
}

_:-ms-input-placeholder, :root .smallFont {
    font-family: 'Malgun Gothic';
    font-size: 20px;
}

.defaultFont {
	font-family: 'Do Hyeon';
	font-size: 28px;
}

.smallFont {
	font-family: 'Do Hyeon';
	font-size: 20px;
}
