<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Main</title>
<script type="text/javascript" src="/vendors.js" th:src="@{/vendors.js}"></script>
<script type="text/javascript" src="/count.js" th:src="@{/count.js}"></script>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Dokdo' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" media="all" href="/count.css" th:href="@{/count.css}" />
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="container">
			<div class="form-group col-xs-5">
				<input id="salary" name="salary"
					type="number" min="0" class="form-control input-lg" placeholder="salary"/>
			</div>
			<div class="form-group" style="margin-top: 6px;">
				<label class="switch">
				  <input id="upFlag" type="checkbox">
				  <span class="slider round"></span>
				</label>
			</div>
			<div class="col-sm-6 col-sm-offset-2 demo">
				<span id="counter" class="counter">0</span>
			</div>
		</div>
	</div>
</body>
</html>